.link {
    position: relative;
    display: flex;
    align-items: center;
    height: 2rem;

    .label {
        color: var(--primary-accent-color);

        :global(html.casa-tv) & {
            font-size: 1.15rem;
        }
    }

    &:hover {
        .label {
            text-decoration: underline;
        }
    }
}